$width: 1000px;
$height: 800px;

body{
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-family: "Courier New";
}

.imagesContainerLabel{
  position: relative;
  width: $width;
  height: 50px;
  left: 50px;
  clear: both;
  text-align: center;
  background-color: rgba(144, 238, 144, 0.47);
  line-height: 50px;
}

.imagesContainer{
  position: relative;
  box-sizing: content-box;
  width: $width;
  height: $height / 2;
  overflow: hidden;
  background-color: rgba(144, 238, 144, 0.15);
  left: 50px;
  clear: both;
}

.errorsContainerLabel{
  position: relative;
  width: $width;
  height: 50px;
  left: 50px;
  clear: both;
  text-align: center;
  background-color: rgba(240, 128, 128, 0.47);
  line-height: 50px;
}

.errorsContainer{
  position: relative;
  box-sizing: border-box;
  width: $width;
  height: $height / 4;
  background-color: lightcoral;
  left: 50px;
  overflow-y: scroll;
  background-color: rgba(240, 128, 128, 0.15);
}

.finishedDiv{
  position: relative;
  box-sizing: border-box;
  width: $width;
  height: 100px;
  background-color: #FFF;
  left: 50px;
  text-align: center;
  line-height: 100px;
  opacity: 0;
  font-size: 50px;
}

.face{
  position: relative;
  //opacity: 0;
  width: 50px;
  height: 50px;
  //background: yellow;
  border-radius: 25px;
}

.error{
  position: relative;
  float: left;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background: red;
  display: block;
  clear: both;
  border-radius: 25px;
  font-size: 15px;
}

.error:after {
  position: absolute;
  min-width: 500px;
  content: attr(wrongUrl);
  color: red;
  left: 60px;
  line-height: 50px;
}